.banner-home {
    background: linear-gradient(134.37deg, #3AA85A 5.3%, #6DAF3C 71.96%, #7CB133 91.96%);
    margin-bottom: 250px;
    .text-post {
        text-align: center;
        padding-top: 200px;
        .search-wrap{
            max-width: 700px;
            margin: 0 auto;
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            button{
                position: absolute;
                width: 70px;
                height: 60px;
                background: none;
                svg{
                    fill: #ccc;
                    width: 22px;
                    height: 22px;
                }
            }
            input{
                border-radius: 30px;
                border: 0;
                padding: 0 70px;
                font-style: italic;
                font-size: 16px;
                height: 60px;
            }
            .enter{
                position: absolute;
                background: #ADDC26;
                width: 80px;
                height: 60px;
                line-height: 60px;
                right: 0;
                font-size: 20px;
                color: #fff;
            }
            @media (max-width: 991px) {
                input,button,.enter{
                    height: 50px;
                    line-height: 50px;
                }
            }
        }
        .slogan{
            margin-bottom: -150px;
        }
        @media (max-width: 1366px) {
            padding-top: 190px;
        }
        @media (max-width: 1280px) {
            padding-top: 160px;
            .slogan{
                margin-bottom: -60px;
                img{
                    max-width: 650px;
                    width: 100%;
                }
            }
        }
        @media (max-width: 991px) {
            padding-top: 120px;
        }
        @media (max-width: 576px) {
            padding-top: 100px;
        }
    }
    .title{
        color: #fff;
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 100px;
        @media (max-width: 1366px) {
            font-size: 30px;
            margin-bottom: 60px;
        }
        @media (max-width: 1280px) {
            font-size: 25px;
            margin-bottom: 40px;
        }
        @media (max-width: 991px) {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
    .title-cate{
        padding-bottom: 30px;
        margin-bottom: 20px;
        span{
            &::before{
                bottom: -30px;
                width: 80px;
                margin-left: -40px;height: 4px;
            }
        }
    }
    &.folder{
        margin-bottom: 60px;
        padding-bottom: 40px;
        @media (max-width: 991px) {
            margin-bottom: 30px;
            padding-bottom: 20px;
        }
    }
    @media (max-width: 1280px) {
        margin-bottom: 130px;
    }
}


.home-section1{
    font-size: 20px;
}
.home-section2{
    .row{
        margin: 0 -10px;
    }
    [class*="col-"]{
        margin-bottom: 20px;
        padding: 0 10px;
    }
    .itemt{
        padding: 25px;
        position: relative;
        border-radius: 15px;
        background: linear-gradient(358.58deg, #F5EB61 1.52%, #FFFAAF 96.07%);
        min-height: 288px;
        .title{
            color: #43457B;
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
            margin-bottom: 0;
        }
        .btn-default{
            height: 25px;
            line-height: 25px;
            font-size: 9px;
            padding: 0px 25px;
        }
    }
    .bg-blue,.bg-4{
        background: linear-gradient(0deg, #D3D0FF -16.42%, #F1F9FE 81.48%);
        .title{
            font-size: 25px;
            margin-bottom: 30px;
            @media (max-width:1280px) {
                font-size: 20px;
            }
        }
        .btn-default{
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            padding: 0px 50px;
        }
    }
    .bg-3{
        background: linear-gradient(358.58deg, #F5C961 1.52%, #FFF6D4 96.07%);
    }
    .bg-4{
        background: linear-gradient(2.25deg, #95B7E3 3.54%, #EBFFFD 94.4%);
        padding: 37px 10px 37px 37px;
        height: 100%;
        .title{
            max-width: 200px;
        }
        .btn-default{
            position: absolute;
            bottom: 80px;
        }
    }
}

.home-section3{
    background: #F2F2F2;
    padding: 100px 0 150px 0;
    .row{
        justify-content: center;
    }
    .bg{
        background: #fff;
        text-align: center;
        padding:35px 15px;
        height: 100%;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        .more{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
            overflow: hidden;
            background: #2CBA68;
            color: #fff;
            font-size: 16px;
            padding: 80px 30px 30px 30px;
            transition: 0.3s all;
            transform: translateX(-100%);
            .title{
                font-size: 20px;
            }
            .line-bottom{
                background: #fff;
                width: 60px;
                margin: 20px auto 30px;
            }
            .description{
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 5;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
            .detail{
                color: #FFF;
                background: none;
                padding-right: 0;
                font-size: 14px;
                position: absolute;
                bottom: 20px;
                width: 100%;
                left: 0;
            }
        }
        &:hover{
            .more{
                transform: translateX(0%);
            }
        }
    }
    .img{
        height: 250px;
        position: relative;
        margin-bottom: 40px;
        img{
            max-height: 95%;
            max-width: 95%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .title_line{
        position: relative;
        font-weight: 400;
        font-size: 18px;
        padding-top: 20px;
        &::before{
            content: "";
            background: #28AE2C;
            width: 70px;
            height: 3px;
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -35px;
        }
    }
    &__v2{
        background: linear-gradient(180deg, #2DBA68 -2%, #8CCA37 102.3%);
        padding: 70px 0;
        position: relative;
        &::before{
            content: "";
            background: url(images/graphics/bg-doitac.png);
            background-size: cover;
            width: 100%;
            height: 80%;
            position: absolute;
            bottom: 0;
        }
    }
    .giai-phap{
        margin-top: 30px;
        .bg{
            padding: 35px 75px;
        }
        .img{
            height: 160px;
        }
        .title_line{
            font-size: 22px;
            font-weight: 500;
        }
    }
    @media (max-width:1280px) {
        padding: 60px 0 40px 0;
    }
}

.home-section4{
    background: linear-gradient(180deg, #2DBA68 -2%, #8CCA37 102.3%);
    padding: 70px 0;
    position: relative;
    &::before{
        content: "";
        background: url(images/graphics/bg-doitac.png);
        background-size: cover;
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 0;
    }
    .title-cate{
        color: #fff;
        span{
            &::before{background: #fff;}
        }
    }
    .radius15{
        border-radius: 15px;
    }
    .bg-white{
        padding: 40px 30px 20px 30px;
        text-align: center;
        h3{font-size: 20px;margin-bottom: 10px;}
        .flex{
            align-items: center;
            justify-content: center;
            .item{
                padding: 0 15px;
                width: 33%;
                margin: 10px 0;
                height: 80px;
                position: relative;
                img{
                    max-height: 95%;
                    max-width: 95%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }
    @media (max-width:1280px) {
        padding: 50px 0 40px 0;
    }
}

.list-article.row{
    margin: 0 -30px;
    [class*="col-"]{
        padding: 0 30px;
    }
    .article-item{
        margin-bottom: 40px;
        .btn-default{
            margin-top: 20px;
        }
    }
    @media (max-width:1280px) {
        margin: 0 -15px;
        [class*="col-"]{
            padding: 0 15px;
        }
        .article-item{
            margin-bottom: 30px;
        }
    }
    @media (max-width:767px) {
        .article-item{
            margin-bottom: 20px;
            .btn-default{
                margin-top: 0;
                padding: 0 30px;
                height: 30px;
                line-height: 30px;
            }
        }

    }
}

.section-topstory{
    .row{
        margin: 0 -30px;
    }
    [class*="col-"]{
        padding: 0 30px;
    }
    .article-big{
        background: #F2F2F2;
        .title-new{
            margin-bottom: 20px;
        }
        .box-img{
            width: 310px;
            float: left;
            margin: 0;
        }
        .box-text{
            overflow: hidden;
            padding: 40px 40px 10px 80px;
        }
    }
    @media (max-width: 1199px) {
        .row{margin: 0 -15px;}
        [class*="col-"]{
            padding: 0 15px;
        }
        .article-big{
            .box-text{
                padding: 15px;
            }
        }
    }
    @media (max-width: 576px) {
        .article-big{
            .box-img{
                width: 100%;
                .thumb_5x5{
                    padding-bottom: 60%;
                }
            }
        }

    }
}
.list-article-small{
    .article-item{
        margin-bottom: 15px;
        .box-img{
            width: 140px;
            float: left;
            margin: 0 15px 0 0;
        }
        .box-text{
            overflow: hidden;
        }
        .title-new{
            font-size: 18px;
        }
        .description{
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}

.section-calendar{
    background: linear-gradient(134.37deg, #3AA85A 5.31%, #7CB133 91.97%);
    padding: 140px 0 100px 0;
    margin-bottom: 60px;
    .bg-white{
        padding: 130px 80px 50px;
        border-radius: 15px;
    }
    .title{
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -200px;
        width: 400px;
        text-align: center;
        border: 2px solid #2CBA68;
        background: #fff;
        font-size: 32px;
        font-weight: bold;
        line-height: 80px;
        border-radius: 70px;
    }
    .content{
        font-size: 18px;
        padding-right: 50px;
        p{
            margin-bottom: 30px;
        }
    }
    @media (max-width: 991px) {
        padding: 90px 0 60px 0;
        .bg-white{
            padding: 90px 30px 30px;
        }
        .content{
            padding-right: 15px;
        }
        .col-lg-5{
            text-align: center;
        }
        .title{
            font-size: 25px;
            width: 260px;
            line-height: 60px;
            margin-left: -130px;
            top: -30px;
        }
    }
}

.section-info1{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.8;
    .logo{
        margin-bottom: 60px;
        img{
            max-width: 300px;
        }
    }
    h2{
        font-size: 40px;
        margin-bottom: 40px;
    }
    @media (max-width:1280px) {
        h2{font-size: 30px;margin-bottom: 30px;}
        .logo{
            margin-bottom: 40px;
            img{
                max-width: 250px;
            }
        }
    }
    @media (max-width:576px) {
        h2{font-size: 22px;margin-bottom: 20px;}
        .logo{
            margin-bottom: 30px;
            img{
                max-width: 200px;
            }
        }
    }
}


.section-don-vi{
    background: #F2F2F2;
    padding: 120px 0 100px 0;
    .bg-white{
        padding: 100px 0 50px 0;
        border-radius: 15px;
    }
    .title{
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -180px;
        width: 360px;
        text-align: center;
        border: 2px solid #2CBA68;
        background: #fff;
        font-size: 26px;
        font-weight: bold;
        line-height: 80px;
        border-radius: 70px;
    }
    .so-do{
        text-align: center;
        margin-bottom: 80px;
        padding: 0 20px;
        img{
            max-width: 800px;width: 100%;
        }
    }
    .row{
        margin: 0 0 30px 0;
        align-items: center;
    }
    .tag{
        background: #F2F2F2;
        font-size: 20px;
        font-weight: 500;
        width: 400px;
        padding-left: 80px;
        height: 65px;
        align-items: center;
        display: flex;
        border-left: 6px solid #2CBA68;
    }
    .logo {
        padding-left: 40px;
        align-items: center;
    }
    .item{
        width: 135px;
        height: 65px;
        position: relative;
        margin-left: 10px;
        img{    
            max-height: 95%;
            max-width: 95%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .text{
        margin-left: 15px;
    }
    @media (max-width:1199px) {
        .tag{
            width: 300px;padding-left: 30px;
        }
    }
    @media (max-width:991px) {
        padding: 80px 0 60px 0;
        margin-bottom: 30px;
        .bg-white{
            padding: 70px 0 30px 0;
        }
        .title{
            font-size: 25px;
            width: 260px;
            line-height: 60px;
            margin-left: -130px;
            top: -30px;
        }
        .so-do{
            margin-bottom: 30px;
        }
        .logo{
            width: 100%;
            padding-left: 0;
            margin-top: 15px;
        }
    }
    @media (max-width:576px) {
        .logo{
            justify-content: center;
        }
        .tag{
            width: 100%;
            height: 50px;
            border-right: 6px solid #fff;
        }
        .item{
            margin: 5px;
        }
    }
}

.tab-pin{
    background: #EFEFEF;
    // position: sticky;
    // top: 0;
    // z-index: 999;
    .nav-tab{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        a{
            width: 16.66%;
            text-align: center;
            font-size: 17px;
            font-weight: 500;
            height: 150px;
            padding: 0 15px;
            display: flex;
            align-items: center;
            &.active{
                background: #2CBA68;color: #fff;
            }
        }
    }
    @media (max-width:991px) {
        display: none;
    }
}
.min-container{
    max-width: 1000px;
    margin: 0 auto;
}
.line-bottom{
    width: 80px;
    height: 3px;
    background: #2CBA68;
    margin-bottom: 30px;
    &.center{
        margin: 0 auto;
    }
}
.number-title{
    font-size: 18px;
    .number{
        color: #2CBA68;
        font-size: 50px;
        font-weight: bold;
    }
    .title{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 30px;
    }
}
.list-don-vi{
    justify-content: center;
    .item{
        text-align: center;
        width: 20%;
        margin-top: 20px;
        padding: 0 15px;
        a{
            display: block;
            padding: 30px 15px;
            box-shadow: 0px 0px 5px 0px #e5e5e5;
            border-radius: 15px;
            background: #fff;
        }
        .ava{
            display: block;
            height: 115px;
            position: relative;
            margin-bottom: 20px;
            img{
                transition: transform .4s;
                max-height: 95%;
                max-width: 95%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        &:hover{
            img{
                transform: scale(1.15)
            }
        }
    }
    @media (max-width:1199px) {
        .item{
            width: 25%;
        } 
    }
    @media (max-width:991px) {
        .item{
            width: 33.33%;
        } 
    }
    @media (max-width:767px) {
        .item{
            width: 50%;
        } 
    }
}

.page-store{
    .wrap-main-nav{
        background: #E41E27;
        padding: 30px 0 10px 0;
    }
}
.section-store1{
    padding: 170px 0 60px 0;
    background: #EBEBEB;
    .flex{
        justify-content: center;
        .itemt{
            margin: 10px 15px;
        }
    }
    @media (max-width:991px) {
        padding: 100px 0 50px 0;
    }
}
.section-store2{
    padding: 60px 0;
}
.list-faq{
    .itemt{
        display: flex;
        background: #DCF7E4;
        font-size: 18px;
        height: 66px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 8px;
    }
}

.registration-step{
    .step{
        max-width: 600px;
        margin: 0 auto 60px;
        position: relative;
        display: flex;
        justify-content: space-between;
        &::before{
            content: "";
            background: #DCF7E4;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 49%;
        }
        a{
            width: 58px;
            height: 58px;
            line-height: 58px;
            text-align: center;
            border-radius: 50%;
            background: #DCF7E4;
            font-size: 25px;
            color: #2CBA68;
            font-weight: bold;
            position: relative;
            z-index: 1;
            &.active{
                background: #2CBA68;
                color: #fff;
            }
        }
    }
    .step_1{
        .check-list{
            background: url(images/graphics/bg-lb1.png);
            background-size: cover;
            margin: 0;
            text-align: center;
            font-size: 20px;
            color: #fff;
            font-weight: 500;
            padding: 40px;
            border-radius: 15px;
            overflow: hidden;
            &.bg2{
                background: url(images/graphics/bg-lb2.png);
                background-size: cover;
            }
            &.bg3{
                background: url(images/graphics/bg-lb3.png);
                background-size: cover;
            }
            &.bg4{
                background: url(images/graphics/bg-lb4.png);
                background-size: cover;
            }
            .checkmark{
                background: #fff;
                width: 32px;
                height: 32px;
                border: 0;
                border-radius: 50%;
                top: 10px;
                left: 20px;
                &::after{
                    border: solid #2CBA68;
                    border-width: 0 3px 3px 0;
                    width: 8px;
                    height: 18px;
                    left: 11px;
                    top: 5px;
                }
            }
        }
    }
    .step_2{
        .step{
            &::after{
                content: "";
                background: #2CBA68;
                width: 50%;
                height: 2px;
                position: absolute;
                top: 49%;
            }
        }
        .bg-white{
            padding: 60px;
            box-shadow: 0px 0px 5px 0px #e5e5e5;
            border-radius: 20px;
            margin-bottom: 40px;
            @media (max-width:991px) {
                padding: 20px;
            }
        }
        .btn-default{
            width: 500px;
            max-width: 100%;
        }
    }
    .step_3{
        .step{
            &::after{
                content: "";
                background: #2CBA68;
                width: 100%;
                height: 2px;
                position: absolute;
                top: 49%;
            }
        }
        .bg-white{
            padding: 60px;
            box-shadow: 0px 0px 5px 0px #e5e5e5;
            border-radius: 20px;
            margin-bottom: 40px;
            font-size: 22px;
            text-align: center;
            @media (max-width:991px) {
                padding: 20px;
            }
        }
    }
}

.section-giai-phap{
    background: linear-gradient(134.38deg, #3AA85A 5.31%, #7CB133 91.97%);
    padding: 60px 0;
    .bg-white{
        padding: 50px 0;
    }
    .tag{
        font-size: 25px;
        font-weight: bold;
        width: 250px;
        margin-bottom: 10px;
        position: relative;
        padding-left: 70px;
        &::before{
            content: "";
            background: #2CBA68;
            width: 60px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
    .list{
        width: 60%;
        width: calc(100% - 250px);
        .itemt{
            background: #DCF7E4;
            display: flex;
            height: 67px;
            margin-bottom: 10px;
            align-items: center;
            padding: 0 20px;
            font-size: 18px;
            flex-wrap: wrap;
            p{margin-bottom: 0;}
        }
    }
    .btn{
        background: #FFFFFF;
        height: 50px;
        line-height: 50px;
        color: #2CBA68;
        font-size: 20px;
        font-weight: bold;
        width: 400px;
        max-width: 100%;
        border-radius: 50px;
        padding: 0;
    }
    @media (max-width:991px) {
        .tag{
            font-size: 20px;
            width: 150px;
            padding-left: 40px;
            &::before{
                width: 30px;
                height: 15px;
                left: 0;
                top: 8px;
            }
        }
        .list{
            width: calc(100% - 150px);
            .itemt{
                font-size: 16px;
            }
        }
    }
    @media (max-width:767px) {
        .tag{
            width: 100%;
            br{display: none;}
        }
        .list{
            width: 100%
        }
    }
}