.banner-home {
    background: linear-gradient(134.37deg, #3AA85A 5.3%, #6DAF3C 71.96%, #7CB133 91.96%);
    margin-bottom: 250px;
    .text-post {
        text-align: center;
        padding-top: 200px;
        .slogan{
            margin-bottom: -150px;
        }
        @media (max-width: 1366px) {
            padding-top: 190px;
        }
        @media (max-width: 1280px) {
            padding-top: 160px;
            .slogan{
                margin-bottom: -60px;
                img{
                    max-width: 650px;
                    width: 100%;
                }
            }
        }
        @media (max-width: 991px) {
            padding-top: 120px;
        }
        @media (max-width: 576px) {
            padding-top: 100px;
        }
    }
    .title{
        color: #fff;
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 100px;
        @media (max-width: 1366px) {
            font-size: 30px;
            margin-bottom: 60px;
        }
        @media (max-width: 1280px) {
            font-size: 25px;
            margin-bottom: 40px;
        }
        @media (max-width: 991px) {
            font-size: 20px;
            margin-bottom: 40px;
        }
    }
    &.folder{
        margin-bottom: 60px;
        padding-bottom: 40px;
        @media (max-width: 576px) {
            margin-bottom: 30px;
            padding-bottom: 20px;
        }
    }
    @media (max-width: 1280px) {
        margin-bottom: 130px;
    }
}


.home-section1{
    font-size: 20px;
}
.home-section2{
    .row{
        margin: 0 -10px;
    }
    [class*="col-"]{
        margin-bottom: 20px;
        padding: 0 10px;
    }
    .itemt{
        padding: 25px;
        position: relative;
        border-radius: 15px;
        background: linear-gradient(358.58deg, #F5EB61 1.52%, #FFFAAF 96.07%);
        min-height: 288px;
        .title{
            color: #43457B;
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
            margin-bottom: 0;
        }
        .btn-default{
            height: 25px;
            line-height: 25px;
            font-size: 9px;
            padding: 0px 25px;
        }
    }
    .bg-blue,.bg-4{
        background: linear-gradient(0deg, #D3D0FF -16.42%, #F1F9FE 81.48%);
        .title{
            font-size: 25px;
            margin-bottom: 30px;
            @media (max-width:1280px) {
                font-size: 20px;
            }
        }
        .btn-default{
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            padding: 0px 50px;
        }
    }
    .bg-3{
        background: linear-gradient(358.58deg, #F5C961 1.52%, #FFF6D4 96.07%);
    }
    .bg-4{
        background: linear-gradient(2.25deg, #95B7E3 3.54%, #EBFFFD 94.4%);
        padding: 37px 10px 37px 37px;
        height: 100%;
        .title{
            max-width: 200px;
        }
        .btn-default{
            position: absolute;
            bottom: 80px;
        }
    }
}

.home-section3{
    background: #F2F2F2;
    padding: 100px 0 150px 0;
    .bg{
        background: #fff;
        text-align: center;
        padding:35px 15px;
        height: 100%;
        border-radius: 20px;
    }
    .img{
        height: 250px;
        position: relative;
        margin-bottom: 40px;
        img{
            max-height: 95%;
            max-width: 95%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .title_line{
        position: relative;
        font-weight: 400;
        font-size: 18px;
        padding-top: 20px;
        &::before{
            content: "";
            background: #28AE2C;
            width: 70px;
            height: 3px;
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -35px;
        }
    }
    &__v2{
        background: linear-gradient(180deg, #2DBA68 -2%, #8CCA37 102.3%);
        padding: 70px 0;
        position: relative;
        &::before{
            content: "";
            background: url(images/graphics/bg-doitac.png);
            background-size: cover;
            width: 100%;
            height: 80%;
            position: absolute;
            bottom: 0;
        }
    }
    @media (max-width:1280px) {
        padding: 60px 0 40px 0;
    }
}

.home-section4{
    background: linear-gradient(180deg, #2DBA68 -2%, #8CCA37 102.3%);
    padding: 70px 0;
    position: relative;
    &::before{
        content: "";
        background: url(images/graphics/bg-doitac.png);
        background-size: cover;
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 0;
    }
    .title-cate{
        color: #fff;
        span{
            &::before{background: #fff;}
        }
    }
    .radius15{
        border-radius: 15px;
    }
    .bg-white{
        padding: 40px 30px 20px 30px;
        text-align: center;
        h3{font-size: 20px;margin-bottom: 10px;}
        .flex{
            align-items: center;
            justify-content: center;
            .item{
                padding: 0 15px;
                width: 33%;
                margin: 10px 0;
                height: 80px;
                position: relative;
                img{
                    max-height: 95%;
                    max-width: 95%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
    }
    @media (max-width:1280px) {
        padding: 50px 0 40px 0;
    }
}

.list-article.row{
    margin: 0 -30px;
    [class*="col-"]{
        padding: 0 30px;
    }
    .article-item{
        margin-bottom: 40px;
        .btn-default{
            margin-top: 20px;
        }
    }
    @media (max-width:1280px) {
        margin: 0 -15px;
        [class*="col-"]{
            padding: 0 15px;
        }
        .article-item{
            margin-bottom: 30px;
        }
    }
    @media (max-width:767px) {
        .article-item{
            margin-bottom: 20px;
            .btn-default{
                margin-top: 0;
                padding: 0 30px;
                height: 30px;
                line-height: 30px;
            }
        }

    }
}

.section-topstory{
    .row{
        margin: 0 -30px;
    }
    [class*="col-"]{
        padding: 0 30px;
    }
    .article-big{
        background: #F2F2F2;
        .title-new{
            margin-bottom: 20px;
        }
        .box-img{
            width: 310px;
            float: left;
            margin: 0;
        }
        .box-text{
            overflow: hidden;
            padding: 40px 40px 10px 80px;
        }
    }
    @media (max-width: 1199px) {
        .row{margin: 0 -15px;}
        [class*="col-"]{
            padding: 0 15px;
        }
        .article-big{
            .box-text{
                padding: 15px;
            }
        }
    }
    @media (max-width: 576px) {
        .article-big{
            .box-img{
                width: 100%;
                .thumb_5x5{
                    padding-bottom: 60%;
                }
            }
        }

    }
}
.list-article-small{
    .article-item{
        margin-bottom: 15px;
        .box-img{
            width: 140px;
            float: left;
            margin: 0 15px 0 0;
        }
        .box-text{
            overflow: hidden;
        }
        .title-new{
            font-size: 18px;
        }
        .description{
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
    }
}

.section-calendar{
    background: linear-gradient(134.37deg, #3AA85A 5.31%, #7CB133 91.97%);
    padding: 140px 0 100px 0;
    margin-bottom: 60px;
    .bg-white{
        padding: 130px 80px 50px;
        border-radius: 15px;
    }
    .title{
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -200px;
        width: 400px;
        text-align: center;
        border: 2px solid #2CBA68;
        background: #fff;
        font-size: 32px;
        font-weight: bold;
        line-height: 80px;
        border-radius: 70px;
    }
    .content{
        font-size: 18px;
        padding-right: 50px;
        p{
            margin-bottom: 30px;
        }
    }
    @media (max-width: 991px) {
        padding: 90px 0 60px 0;
        .bg-white{
            padding: 90px 30px 30px;
        }
        .content{
            padding-right: 15px;
        }
        .col-lg-5{
            text-align: center;
        }
        .title{
            font-size: 25px;
            width: 260px;
            line-height: 60px;
            margin-left: -130px;
            top: -30px;
        }
    }
}

.section-info1{
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.8;
    .logo{
        margin-bottom: 60px;
        img{
            max-width: 300px;
        }
    }
    h2{
        font-size: 40px;
        margin-bottom: 40px;
    }
    @media (max-width:1280px) {
        h2{font-size: 30px;margin-bottom: 30px;}
        .logo{
            margin-bottom: 40px;
            img{
                max-width: 250px;
            }
        }
    }
    @media (max-width:576px) {
        h2{font-size: 22px;margin-bottom: 20px;}
        .logo{
            margin-bottom: 30px;
            img{
                max-width: 200px;
            }
        }
    }
}


.section-don-vi{
    background: #F2F2F2;
    padding: 120px 0 100px 0;
    .bg-white{
        padding: 100px 0 50px 0;
        border-radius: 15px;
    }
    .title{
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -180px;
        width: 360px;
        text-align: center;
        border: 2px solid #2CBA68;
        background: #fff;
        font-size: 26px;
        font-weight: bold;
        line-height: 80px;
        border-radius: 70px;
    }
    .so-do{
        text-align: center;
        margin-bottom: 80px;
        padding: 0 20px;
        img{
            max-width: 800px;width: 100%;
        }
    }
    .row{
        margin: 0 0 30px 0;
        align-items: center;
    }
    .tag{
        background: #F2F2F2;
        font-size: 20px;
        font-weight: 500;
        width: 400px;
        padding-left: 80px;
        height: 65px;
        align-items: center;
        display: flex;
        border-left: 6px solid #2CBA68;
    }
    .logo {
        padding-left: 40px;
        align-items: center;
    }
    .item{
        width: 135px;
        height: 65px;
        position: relative;
        margin-left: 10px;
        img{    
            max-height: 95%;
            max-width: 95%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .text{
        margin-left: 15px;
    }
    @media (max-width:1199px) {
        .tag{
            width: 300px;padding-left: 30px;
        }
    }
    @media (max-width:991px) {
        padding: 80px 0 60px 0;
        margin-bottom: 30px;
        .bg-white{
            padding: 70px 0 30px 0;
        }
        .title{
            font-size: 25px;
            width: 260px;
            line-height: 60px;
            margin-left: -130px;
            top: -30px;
        }
        .so-do{
            margin-bottom: 30px;
        }
        .logo{
            width: 100%;
            padding-left: 0;
            margin-top: 15px;
        }
    }
    @media (max-width:576px) {
        .logo{
            justify-content: center;
        }
        .tag{
            width: 100%;
            height: 50px;
            border-right: 6px solid #fff;
        }
        .item{
            margin: 5px;
        }
    }
}

.tab-pin{
    background: #EFEFEF;
    .nav-tab{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        a{
            width: 16.66%;
            text-align: center;
            font-size: 17px;
            font-weight: 500;
            height: 150px;
            padding: 0 15px;
            display: flex;
            align-items: center;
            &.active{
                background: #2CBA68;color: #fff;
            }
        }
    }
}
.min-container{
    max-width: 900px;
    margin: 0 auto;
}
.line-bottom{
    width: 100px;
    height: 4px;
    background: #2CBA68;
    margin-bottom: 30px;
}
.number-title{
    font-size: 18px;
    .number{
        color: #2CBA68;
        font-size: 50px;
        font-weight: bold;
    }
    .title{
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 30px;
    }
}
.list-don-vi{
    .item{
        text-align: center;
        width: 20%;
        margin-bottom: 30px;
        padding: 0 15px;
        a{
            display: block;
            padding: 30px 15px;
            box-shadow: 0px 0px 5px 0px #e5e5e5;
            border-radius: 15px;
        }
        .ava{
            display: block;
            height: 115px;
            position: relative;
            margin-bottom: 20px;
            img{
                max-height: 95%;
                max-width: 95%;
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .detail{
            background: url(images/icons/next.png) no-repeat right;
            color: #5C5C5C;
            padding-right: 18px;
        }
    }
}