@media (max-width:1280px) {
    .mb100{
        margin-bottom: 60px;
    }
}

@media (max-width:1199px) {
    .mb90 {
        margin-bottom: 60px;
    }

    .title_cate {
        font-size: 25px
    }
}

@media (max-width:991px) {
    .list-article {
        justify-content: center
    }
}

@media (max-width:767px) {
    .list-article {
        .article-item {
            .box-img {
                width: 140px;
                float: left;
                margin: 0 15px 0 0;
            }

            .box-text {
                overflow: hidden;
            }
            .title-new{font-size: 18px;}
            .description {
                display: none
            }

            margin-bottom: 25px;

            &::after {
                content: "";
                display: table;
                clear: both;
            }
        }
    }
}